/* You can add global styles to this file, and also import other style files */
.container {
	max-width: 1200px;
	margin: 0 auto;
}

* {
	font-family: 'Roboto', sans-serif;
}

.m-top-15 {
	margin-top: 15px;
}

.m-bottom-15 {
	margin-bottom: 5px;
}