<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<div class="ui-fluid">
		<div class="m-top-15">
			<p-dropdown [options]="areas | async" formControlName="area" [filter]="true" (onChange)="getCities($event.value)"></p-dropdown>
		</div>

		<div class="m-top-15">
			<p-dropdown [options]="cities | async" formControlName="city" [filter]="true" [disabled]="isDisableCities" (onChange)="getDepartments($event.value)"></p-dropdown>
		</div>

		<div class="m-top-15">
			<p-dropdown [options]="departments | async" formControlName="department" [filter]="true" [disabled]="isDisableDepartments"></p-dropdown>
		</div>
		<p-button class="m-top-15" label="Відправити заявку"></p-button>
	</div>
</form>
