form {
	padding: 10px;
	label {
		font-size: 12px;
		font-style: italic;
		font-weight: 300;
	}

	> .p-col {
		padding: 0 5px;
	}

	textarea {
		min-height: 50px;
	}

	.wrapper {
		padding: 0 16px;
	}

	::ng-deep {
		.ui-tabview-selected {
			background-color: rgb(218,41,28) !important;
		}

		p-toolbar {
			margin-left: 40px;

			.ui-toolbar {
				background-color: rgba(218,41,28, .8) !important;	
				font-weight: bold;
				color: #ffffff;
			}
		}

	}

}